$everglade: #245626;
$snowflake: #f0f0f0;
$apple: #3cbf42;
$mirage: #131b23;
$wild-sand: #f5f5f5;
$alabaster: #f8f8f8;
$white: #ffffff;
$mercury: #e1e1e1;
$mine-shaft: #323232;

$mobile-desktop-boundary: 37.5em; // 600px