body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F8F8F8;
}

.container {
	margin: 5%;
}

.column {
	width: 48%;
	float: left;
	margin: 1%;
}

@media only screen and (max-width: 680px) {
	.column {
		width: 98%;
		margin: 1%;
	}
}

.event {
	background-color: #FFFFFF;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	margin-bottom: 40px;
}

.event__title {
	margin: 0;
	color: #323232;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: bold;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E1E1E1;
	border-radius: 5px;
}

.event__description, .event__funding, .event__details {
	margin: 0px 15px;
}

.event__description {
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 20px;
}

.event__progress {
	position: relative;
	width: 100%;
}

.event__progress__total {
	background-color: #F5F5F5;
	/* To not show text but keep it for SEO purposes */
	text-indent: -9999px;
	height: 20px;
	border: solid 1px #E1E1E1;
}

.event__progress_meter {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 20px;
	background-color: #3CBF42;
	border: solid 1px #23A629;
}

.event__funding {
	color: #245626;
}

.event__funding__raised {
	font-size: 32px;
	margin-bottom: 3px;
	font-weight: bold;
	display: block;
}

.event__details {
	height: 14px;
	line-height: 14px;
	background-color: #F5F5F5;
	border: 1px solid #E1E1E1;
	margin-bottom: 20px;
	padding: 15px 30px;
	font-size: 14px;
}

.event__details__date {
	width: 50%;
	float: left;
}

.event__details__location {
	width: 50%;
	float: left;
}

.comments {
	list-style: none;
	margin: 0;
}

.comments__comment {
	width: 100%;
	min-width: 115px;
	display: inline-block;
}

.comments.reply .comments__comment {
	min-width: 135px;
}

.comments__comment__wrapper {
	position: relative;
	min-height: 75px;
	padding: 10px 20px;
	margin-bottom: 40px;
	background-color: #F5F5F5;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border: 1px solid #E1E1E1;
	font-size: 14px;
}

.comments__comment__name {
	color: #000000;
	font-size: 14px;
}

.comments__comment__message {
	color: #000000;
	font-size: 18px;
	margin: 10px 0 0 0;
}

.comments.reply  .comments__comment__wrapper {
	background-color: #FFFFFF;
	margin-top: -20px;
	margin-left: 20px;
	color: #FFFFFF;
}

.comments__comment__arrow {
	margin-left: 1px;
	margin-top: -41px;
	position: absolute;
	width: 0; 
	height: 0; 
	border-bottom: 23px solid transparent;
	border-left: 38px solid #F5F5F5;
}

.comments__comment__arrow.border {
	margin-left: 0px;
	margin-top: -41px;
	width: 0; 
	height: 0; 
	border-bottom: 25px solid transparent;
	border-left: 40px solid #E1E1E1;
}

.comments.reply  .comments__comment__arrow {
	border-left: 38px solid #FFFFFF;
	margin-left: 21px;
}

.comments.reply  .comments__comment__arrow.border {
	border-left: 40px solid #E1E1E1;
	margin-left: 20px;
}

.comments__comment__image {
	background-size: 75px 75px;
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 20px;
}

