* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  padding: 80px 10%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.column {
  width: 48%;
}

.event {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.event__title {
  font-size: 1rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 0;
  padding: 10px 20px;
}

.event__description {
  padding: 10px 20px;
}

.event__funding {
  border-top: 1px solid #e1e1e1;
  padding: 10px 20px;
}

.event__funding__totals {
  color: #245626;
}

.event__funding__raised {
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.event__progress {
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e1;
  height: 20px;
}

.event__progress__meter {
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: #3cbf42;
  height: 20px;
}

.event__details {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e1;
  margin: 10px 20px 20px;
  padding: 10px 20px;
  font-size: 0.8rem;
}

.event__details > div{
  width: 48%;
}

.event__details strong{
  text-transform: uppercase;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment {
  position: relative;
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e1;
  border-radius: 5px 5px 5px 0;
  padding: 20px 15px;
  width: 100%;
  margin-bottom: 40px;
}

.comment:before {
  border-top: 20px solid #e1e1e1; 
  border-right: 30px solid transparent; 
  border-bottom: 10px solid transparent; 
  content: ""; 
  position: absolute;
  bottom: -30px;
  left: -1px; 
}

.comment:after { 
  border-top: 18px solid #f5f5f5; 
  border-right: 27px solid transparent; 
  border-bottom: 10px solid transparent; 
  content: ""; 
  position: absolute;
  bottom: -28px;
  left: 0;  
 }

.child {
  background-color: #ffffff;
  width: 85%;
  margin-top: -25px;
}

.child:after { 
  border-top: 18px solid #ffffff;  
 }

.comment__image {
  width: 80px;
  height: 80px;
}

.comment__body {
  margin-left: 15px;
}

.comment__header {
  font-size: 0.9rem;
}

.comment__content {
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {

  .row {
    display: flex;
    flex-direction: column; 
  }

  .column {
    width: 100%;
  }

  .column:first-child {
    margin-bottom: 40px;
  }

}

