// 52.5em: 840px

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 64.75rem;
  height: 100vh;
  padding-top: 3rem;
  padding-right: .875rem;
  padding-left: .875rem;
  @media (min-width: 52.5em) {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }
}

.row {
  margin-right: -.4375rem;
  margin-left: -.4375rem;
  @media (min-width: $mobile-desktop-boundary) {
    flex-wrap: wrap;
    display: flex;
  }
  @media (min-width: 52.5em) {
    margin-right: 1.75rem;
    margin-left: 1.75rem;
  }
}

.row > * {
  max-width: 100%;
  margin-right: .4375rem;
  margin-left: .4375rem;
  @media (min-width: 52.5em) {
    margin-right: 1.75rem;
    margin-left: 1.75rem;
  }
}

.column {
  @media (min-width: $mobile-desktop-boundary) {
    align-self: flex-start;
    flex: 1 0 0%;
    width: 50%;
  }
}