// devices break points
$mobile: 768px;
$laptop: 1024px;

//colours
$limegreen: #3cbf42; //progress bar
$darkslategreen: #255727; //prise raised
$whitesmokeBg: #f8f8f8; //background colour
$whitesmoke: #f5f5f5;
$white: #ffffff;
$gainsboro: #e7e7e7; //border
$dimgray: #727272; //text colour

$border : 1px solid $gainsboro;